@import '~react-tabs/style/react-tabs.css';

.react-tabs__tab-list {
  border-bottom: 0px;
}

.react-tabs__tab {
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  top: 1.2em;
  left: -0.5em;
}

.react-tabs__tab--selected {
  background-color: #7b95a3;
  border: none;
  color: white;
}
